doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title School Timeline Service
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
  link(rel='stylesheet', href='/stylesheets/style_complete.css')
#header
  h1= `${userId}님의 수강신청이 완료되었습니다`
  p(id="userId" hidden)= `${userId}`
#mainContainer
    table(id="subjectList" class="table table-bordered")
        thead(id="thead")
          tr
            th(class="userid") 신청자 ID
            th(class="subjectCode") 과목코드
            th(class="subjectName") 과목이름
        tbody
          each data in dataArray
            tr
              td(class="userid")= `${userId}`
              td(class="subjectCode")= `${data.subjectCode}`
              td(class="subjectName")= `${data.subjectName}`
    button(onclick=`window.location.href="/"`) 메인페이지로
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')